<div class="content-menu">
  <%= link_to 'ノート', new_note_path %>
</div>
<div class="content-menu">
  <%= link_to '新規プレゼン', new_presentation_path %>
</div>
<div class="content-menu">
  <%= link_to '編集プレゼン', presentations_path %>
</div>

