<div class="header">

  <h2>目次</h2>
</div>
<div class="content-box">
  <% unless @contents == nil%>
    <% @contents.each do |content| %>
      <div>
        <%= link_to " #{content.page} :#{content.content }", edit_presentation_content_path(id: @presentation.id, page: content.page) %>
      </div>
    <% end %>
  <% end %>
</div>

公開 