<div class="main-area-note">
  <div class="main-area-side">
    <%= render "side_space_presentation" %>
  </div>
  <div class="main-area-main">
    <%= render "main_space_presentation" %>
  </div>
</div>