<div class="header">
  <%= render "diaries/header" %>
</div>
<div class="main-area-note">
  <div class="side-bottom">
    <%= render "side_bar" %>
  </div>
  <div class="main-area-main">
    <%= render "main_space" %>
  </div>
</div>
