<div>
<h3>ノートコメント一覧</h3>
<div class="show-comment-space">
  <% @comments.each do |comment| %>
    <div>
      <%= comment.note.title %>
      <%= link_to "#{comment.user.name}さんから", note_note_comment_path(note_id: comment.note_id, id: comment.id)%>
    </div>
  <% end %>
</div>
</div>