<div class="main-area-mypage">
  <div class="side-bottom">
  </div>
  <div class="main-bottom">
    <%= render "trends/main_space_menu" %>
    <div class="wrapper">
      <%= render "show_main_comment" %>
      <%= render "show_main_presentation" %>
    </div>
  </div>
</div>