<div class="wrapper">
  <div class="side-bottom">
    <%= render "trends/side_bar" %>
  </div>
  <div class="main-bottom">
    <%= render "trends/menu" %>
    <div class="main-bottom-mypage">
      <%= render "show_main_comment" %>
      <%= render "show_main_presentation" %>
    </div>
  </div>
</div>