<div class="show-box">
  <div class="show-note">
    <div class="show-title">
      <%= @answer.content %>
    </div>
    解答内容
    <div class="show-text">
      <%= @answer.text %>
    </div>
  </div>
