<%= form_with model: @presentation, local: true do |f| %>
  <div class="post-form-box">プレゼンタイトル
    <%= f.text_field :title, class:"post-title" %>
  </div>
  <div class="post-form-box">カテゴリー
    <%= f.collection_select(:category_id, Category.all, :id, :name, {}, {class:"diary-category"}) %>
  </div>
  <div class="note-form-button">
    <%= f.submit "決定", class:"button" %>
  </div>
<% end %>
