<div class="content-box">
  <% unless @presentations == nil %>
    <% @presentations.each do |presentation| %>
      <% if presentation.detail_id == 1 %>
        <div>
          <%= link_to "#{presentation.title}", new_presentation_content_path(presentation_id: presentation.id) %>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>