<div class="header">
  <%= render "diaries/header" %>
</div>
<div class="main-area-note">
  <div class="main-area-side">
    <%= render "side_space_presentation_index" %>
  </div>
  <div class="main-area-main">
    <%= render "main_space_presentation_index" %>
  </div>
</div>