<div class="main-top">
  <div class="user-name">
    <% if user_signed_in? %>
      <%= current_user.name %>
    <% end %>
  </div>
  <div class="login-box">
    <%= link_to "ログイン", new_user_session_path %>
  </div>
  <div class="registrations-box">
    <%= link_to "新規登録", new_user_registration_path %>
  </div>
</div>
<div class="main-bottom">
</div>