<div class="main-bottom">
  <p>pick up! [ノート]</p>
  <% @notes.each do |note| %>
    <div class="note-selection">
      <p><%= link_to "タイトル: #{note.title} ", note_path(note.id) %></p>
      <p>カテゴリー: <%= note.category.name %></p>
    </div>
  <% end %>
</div>