<div class="wrapper">
  <% if user_signed_in? %>
    <div class="diary-bar">
      <%= render "diary_bar" %>
    </div>
  <% else %>
    <div>
      <%= render "side_bar" %>
    </div>
  <% end %>
  <div class="main-space">
    <%= render "main_space" %>
  </div>
  <div class="main-space-sub">
    <%= render "main_space_sub" %>
  </div>
</div>
