<div class="header">
  <%= render "header" %>
</div>
<div class="wrapper">
  <div class="side-bar">
    <%= render "side_bar" %>
  </div>
  <div class="main-space">
    <%= render "main_space" %>
  </div>
</div>
