<div class="wrapper">
  <% if user_signed_in? %>
    <div class="side-bottom">
      <%= render "diary_bar" %>
    </div>
  <% else %>
    <div class="side-bottom">
    </div>
  <% end %>
  <div class="main-bottom-half">
    <%= render "main_note" %>
  </div>
  <div class="main-bottom-half">
    <%= render "main_presentation" %>
  </div>
</div>
