<div class="wrapper">
  <div>
    <%= render "side_bar" %>
  </div>
  <div class="main-space">
    <%= render "main_space" %>
  </div>
  <div class="main-space-sub">
    <%= render "main_space_sub" %>
  </div>
</div>
