<div class="wrapper">
  <div class="side-bottom">
  </div>
  <div class="main-bottom-half">
    <%= render "main_note" %>
  </div>
  <div class="main-bottom-half">
    <%= render "main_presentation" %>
  </div>
</div>
