<div class="menu-bar">
  <% if current_user.id == @user.id %>
    <div class="menu-content">
      <%= link_to "勉強時間", trend_path(current_user.id) %>
    </div>
  <% end %>
  <div class="menu-content">
    <%= link_to "投稿一覧", post_path(@user.id) %>
  </div>
  <% if current_user.id == @user.id %>
    <div class="menu-content">
      <%= link_to "コメント一覧", comment_path(@user.id)%>
    </div>
  <% end %>
  <div class="menu-content">
    <%= link_to "フォロー/フォロワー", follower_path(@user.id)%>
  </div>
</div>