<div class="trend-info">
  <div class="name-content">
    <p>名前</p>
    <%= @user.name %>
  </div>
  <p>カテゴリー</p>
  <% if user_signed_in? && current_user.id == @user.id %>
    <%= link_to '追加', new_trend_path %>
    <%= link_to '削除', edit_trend_path(current_user.id) %>
  <% end %>
  <div>
    <% @trends.each do |trend| %>
      <p class="category-box"><%= trend.category.name %></p>
    <% end %>
  </div>
</div>