<div class="main-area-mypage">
  <div class="side-user-info">
    <%= render "side_bar" %>
  </div>
  <div class="main-space-mine">
    <%= render "main_space_menu" %>
    <%= render "main_space_diary" %>
  </div>
</div>