<div class="main-area-mypage">
  <div class="side-bottom">
    <%= render "trends/side_bar" %>
  </div>
  <div class="main-bottom">
    <%= render "trends/menu" %>
    <div class="main-bottom-mypage">
      <%= render "show_main" %>
      <%= render "show_follower" %>
    </div>
  </div>
</div>