/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require simple_calendar
 *= require_tree .
 *= require_self
 */

 * {
   box-sizing: border-box;
 }

  /* ヘッダー */
.header{
  display: flex;
}

/* サイドヘッダー */
.header-side{
  width: 200px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(158, 209, 238);
}

.app-name-frame{
  text-align: center;
  padding: 5px;
  background-color: rgb(85, 180, 235);
}
.app-name{
  font-size: 24px;
  color: white;
  text-decoration: none;
}

/* メインヘッダー */
.header-main{
  height: 80px;
  width: calc(100vw - 200px);
  display: flex;
  background-color: rgb(158, 209, 238);
}

.user-name{
  font-size: 24px;
  padding: 20px;
  width: calc(100vw - 250px);
}

.header-content{
  width: 125px;
  display: flex;
  align-items: center;
}


