.wrapper{
  display: flex;
}

/* サイドバー */
.side-bar{
  width: 200px;
  height: 100vh;
}

/* サイドヘッダー */
.side-top{
  height: 80px;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-name-frame{
  text-align: center;
  padding: 5px;
  border: 2px solid black;
}
.app-name{
  font-size: 24px;
  color: black;
  text-decoration: none;
}

/* サイドボトム */
.side-bottom{
  height: calc(100vh - 80px);
  border: 2px solid black;
}

.diary-box{
  font-size: 20px;
  text-align: center;
  margin: 20px;
  border: 1px solid black;
}

.diary-form{
  font-size: 18px;
  width: 140px;
  margin: 0 auto;
  text-align: center;
}

.diary-time{
  font-size: 14px;
  width: 140px;
  border: 1px solid black;
}

.diary-category{
  font-size: 14px;
  width: 140px;
  padding: 5px;
  border: 1px solid black;
}

.submit-button{
  margin: 10px;
  width: 50px;
}

/* メインスペース */
.main-space{
  width: calc(100vw - 200px);
  height: 100vh;
}

.main-top{
  height: 80px;
  border: 2px solid black;
}

.main-bottom{
  height: calc(100vh - 80px);
  border: 2px solid black;
}