.main-area-side{
  height: calc(100vh - 80px);
  width: 200px;
  border: 2px solid black;
}

.main-area-main{
  height: calc(100vh - 80px);
  width: calc(100vw - 200px);
  border: 2px solid black;
}

.content-menu{
  text-align: center;
  border: 1px solid black;
  margin: 20px;
}
/* ノート編集メインスペース */
.note-new-head{
  font-size: 28px;
  text-align: center;
}

/* ノート詳細ページ */
.show-note{
  font-size: 18px;
  text-align: center;
  height: calc(100vh - 240px);
  padding: 10px;
  border: 1px solid black;
}

.show-title{
  font-size: 30px;
}

.show-category{
  font-size: 24px;
}

.show-text{
  border: 1px solid black;
  height: calc(100vh - 350px);
  text-align: left;
  overflow-y: scroll;
  word-break: break-all;
}

.comment-box{
  height: 100px;
  padding: 10px;
  border: 1px solid black;
  margin-top: 20px;
}

.comment-form-area{
  display: flex;
  justify-content: space-around
}

.comment-form{
  height: 40px;
  width: calc(100vw - 300px);
  border: 1px solid black;
  margin-top: 10px;
}

/* showのサイドバー */
.note-answer-box{
  height: calc(100vh - 200px);
  border: 1px solid black;
  overflow-y: scroll;
  word-break: break-all;
}