.post-space{
  display: flex;
  justify-content: space-around;
  padding: 10px;
}

.post-box{
  height: calc(100vh - 150px);
  width: calc((100vw - 300px) / 2);
  padding: 5px;
  border: 1px solid black;
  overflow: scroll;
}

.post-content{
  border: 1px solid black;
  margin-bottom: 5px;
}