/* content */
.content-box{
  height: calc(100vh - 300px);
  width: 160px;
  padding: 5px;
  border: 1px solid black;
  margin-bottom: 10px;
  overflow-y: scroll;
  word-break: break-all;
}

.output-button{
  padding: 5px;
  border: 1px solid blue;
  text-decoration: none;
}

/* プレゼン詳細ページ */
.show-page{
  font-size: 20px;
  display: flex;
  justify-content: space-around;
}

.content-box-show{
  height: calc(100vh - 400px);
  width: 160px;
  padding: 5px;
  border: 1px solid black;
  margin-bottom: 10px;
  overflow-y: scroll;
  word-break: break-all;
}

.presentation-answer-box{
  height: calc(100vh / 4);
  width: 160px;
  border: 1px solid black;
  overflow: scroll;
}