.content-box{
  height: calc(100vh - 300px);
  width: 180px;
  padding: 5px;
  border: 1px solid black;
  overflow: scroll
}

.output-box{
  padding: 10px;
}

.output-button{
  padding: 5px;
  border: 1px solid blue;
}