.content-box{
  height: calc(100vh - 400px);
  width: 180px;
  padding: 5px;
  border: 1px solid black;
  overflow: scroll;
}

.output-box{
  padding: 10px;
}

.output-button{
  padding: 5px;
  border: 1px solid blue;
}

/* プレゼン詳細ページ */
.show-page{
  font-size: 20px;
  display: flex;
  justify-content: space-around;
}

.presentation-answer-box{
  height: calc(100vh - 480px);
  width: 180px;
  border: 1px solid black;
  overflow: scroll;
}