/* マイページ */
.main-area-mypage{
  display: flex;
}

/* サイドバー */
.trend-info{
  font-size: 20px;
  padding: 10px;
}

.name-content{
  margin-bottom: 10px;
}

.category-box{
  font-size: 20px;
  width: 150px;
  border: 1px solid black;
  margin-bottom: 5px;
}

.side-user-info{
  height: calc(100vh - 80px);
  width: 200px;
  border: 2px solid black;
}

.main-space-mine{
  height: calc(100vh - 80px);
  width: calc(100vw - 200px);
  border: 2px solid black;
}

/* メインメニューバー */
.menu-bar{
  height: 30px;
  
  display: flex;
  justify-content: space-around;
}

.menu-content{
  padding: 0 20px;
  border: 1px solid black;
}

/* メインスペース */
.mypage-calendar-contents{
  height: 100px;
}

.diary-time-index{
  color: red;
  text-align: center;
}