.trend-info{
  font-size: 20px;
  padding: 10px;
}

.name-content{
  margin-bottom: 10px;
}

.category-box{
  font-size: 20px;
  width: 150px;
  border: 1px solid black;
  margin-bottom: 5px;
}

.main-area-mypage{
  display: flex;
}

.side-user-info{
  height: calc(100vh - 80px);
  width: 200px;
  border: 2px solid black;
}

.main-space-mine{
  height: calc(100vh - 80px);
  width: calc(100vw - 200px);
  border: 2px solid black;
}