.title{
  padding: 20px 0 0 20px;
}

.field{
  margin: 20px;
}

.email{
  border: 1px solid black;
}

.password{
  border: 1px solid black;
}

.actions{
  padding-left: 20px;
}

.button{
  border: 1px solid black;
  padding: 3px;
}
