<div class="header">
  <%= render "diaries/header" %>
</div>
<div class="main-area-mypage">
  <div class="side-user-info">
    <%= render "show_side_space" %>
  </div>
  <div class="main-space-mine">
    <%= render "show_main_space" %>
  </div>
</div>