<div class="main-area-mypage">
  <div class="side-user-info">
    <%= render "note_comments/show_side_space" %>
  </div>
  <div class="main-space-mine">
    <%= render "note_comments/show_main_space" %>
  </div>
</div>